:root{
    --fuenteHeading: 'PT', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #e1e1e1;
    --grisOscuro: #989898;
    --blanco: #ffffff;
    --negro: #000000;
    --naranja: #FFC733;
}

html {
    box-sizing:border-box; /* hack para Box Model */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1{
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    width: 100%;
}

/*Utilidades*/
.no-margin{
    margin:0;
}

.centrar-texto {
    text-align: center;
}

.no-padding {
    padding: 0;
}

/*header*/
.header {
    height: 14rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--white);
    display: block;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08); 
}

.logo-header {
    color: var(--negro);
}
.navegacion-header {
    display: flex;
    gap: 2rem;
}

.navegacion-header__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--negro);
}

/*Contenedor barra de búsqueda*/
.form-autocomplete {
    position: relative;
    flex-grow: 1;
    height: 4.8rem;
    border: 1px solid #2d2f31;
    /*border-radius: 9999px;*/
    background-color: #f7f9fa;
    margin: 0 1.2rem;
}

.form-busqueda {
    display: flex;
    align-items: center;
    height: 100%;
    /*padding: 0 2.4rem 0 0;*/
    padding: 0 0 0 0;
}

.input-busqueda {
    display: block;
    height: 4.4rem;
    width: 100%;
    line-height: 1.4;
    font-weight: 400;
    font-size: 1.4rem;
    border:0;
    flex: 1;
    padding: 0 0 0 0.4rem;
    background-color: transparent;
    color: #2d2f31;
    background-color: #f7f9fa;
    border: none;
    outline: none;
}

.boton-busqueda {
    width: 4.8rem;
    height: 100%;
    color: #5624d0;
    background-color: transparent;
    min-width: auto;
    padding: 0;
    margin: 0;
    cursor: not-allowed;
    opacity: .5;
    background-image: url(../img/lupa.svg);
    background-repeat: no-repeat;
    background-position: center center;
    /*border-radius: 0;*/
    border: none;
    outline: none;
}

.icono-busqueda {
    fill: currentColor;
    display: inline-block;
    flex-shrink: 0;
    width: 2.4rem;
    height: 2.4rem;
    color: #2d2f31;
}



/*footer*/
.footer {
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 4rem;
    display: block;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08); 
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 4rem;
}

.logo {
    color: var(--blanco);
}

.logo__nombre {
    font-weight: 400;
}

.logo__bold {
    font-weight: 700;
}

.navegacion {
    display: flex;
    gap: 2rem;
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

/*main*/
.contenido-principal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}

/*Contenido central*/
.entrada {
    border-bottom: 1px solid var(--gris);
    margin-top: 1.5rem;
    margin-bottom: 2px;
}

.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}

.entrada__imagen{
    width: 100%;
}

.entrada__contenido{

}

/*Barra lateral*/
.sidebar {
    display: block;
}

.cursos {
    list-style: none;
}

.curso {
    padding: 3rem 0;
    margin-top: 1.5rem;
    border-bottom: 1px solid var(--gris) 
}

@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.curso:last-of-type {
    border: none;
}

.widget-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.widget-curso:last-of-type {
    border: none;
    margin-bottom: 0;
}

.widget-curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.widget-curso__info {
    font-weight: normal;
}

.widget-curso__label,
.widget-curso__info {
    font-size: 2rem;
}

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
    border-radius: 5px;
}

@media(min-width: 768px){
    .boton {
        display: inline-block;
    }
}

.boton:hover{
    cursor: pointer;
}

.boton--primario{
    background-color: var(--negro);
}

.boton--secundario {
    background-color: var(--primario);
}

.curso__imagen{
    width:100%;
    height: 100%;
}

/** Contacto **/
.contacto-bg {
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo__label {
    flex: 0 0 9rem;
    text-align:right;
    padding-right: 2rem;
}

.campo__field {
    flex: 1;
    border: 1px solid var(--gris);
}

.campo__field--textarea {
    height: 20rem;
}

/*Prueba*/
div[class="curso"]:hover, article:hover, li:hover {
    box-shadow: 0 3px 10px rgba(31,31,31,0.16);
}


/** slide **/

.container {
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
    margin: auto;
    background-color: var(--blanco);
    width: 100%;
    padding: 30px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 100%;
  height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{  
  /*width: 100%;
  height: 300px;*/
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu{
  text-align: center;
  margin: 20px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 60px;
  height: 60px;
  font-size: 20px;
  border-radius: 100%;
}